/* Pseudo classes */

.main-link,
.main-link:visited {
    display: inline-block;
    margin-bottom: 20px;
    color: #000;
    text-decoration: none;
    background-color: #ffd22b;
    border: 1px solid #ffd22b;
    padding: 10px 15px;
    border-radius: 10px;
}

.main-link:hover,
.main-link:focus {
    background-color: #fff;
}

/* Pseudo elements */

.burger-menu {
    width: 100px;
    height: 10px;
    background-color: #ffd22b;
    position: relative;
}

.burger-menu::before {
    content: "";
    display: block;
    width: 100px;
    height: 10px;
    background-color: #ffd22b;
    position: absolute;
    top: 20px;
}

.burger-menu::after {
    content: "";
    display: block;
    width: 100px;
    height: 10px;
    background-color: #ffd22b;
    position: absolute;
    top: 40px;
}

hr {
    margin-top: 50px;
}

.wrapper:first-child {
    background-color: yellow;
}

/* Selected weights (specificity) */

/**
azdan çoxa

0. source order (kodda yazılma ardıcıllığı)
1. tag selector (button)
2. class selector (.my-button)
3. qarışıq selectorlar
4. id selector (#my-button)
5. inline css (style="color: blue;")
6. !important

*/

div.wrapper .my-button {
    color: red !important;
}

#my-button {
    color: blue;
}

/* CSS Positioning */

.box {
    width: 50%;
    height: 100px;
    display: inline-block;
}

.box1 {
    background-color: red;
}

.box2 {
    position: relative;
    bottom: 10px;
    right: 20px;
    background-color: #ffd22b;
}

.box3 {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: aqua;
}

/* Dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown ul {
    display: none;
    list-style-type: none;
    padding: 5px;
    margin: 0;
    border-top: 2px solid #f16526;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    position: absolute;
    top: 22px;
}

.dropdown ul li {
    cursor: pointer;
    padding: 5px 0;
}

.dropdown ul li:hover {
    color: #f16526;
}

.dropdown:hover ul {
    display: block;
}

/* CSS UNITS */

:root {
    font-size: 10px;
}

body { 
    font-size: 1.6rem;
}

.article {
    font-size: 30px;
}

.article p:first-child {
    font-size: 1.6rem;
}

.article p:nth-child(2) {
    font-size: 0.5em;
}